<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiYXVkaW9raXQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmlu
		ZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9BdWRpb0tpdFwvQXVkaW9LaXRc
		LyJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiNS42LjMiLCJ1cHBlckJvdW5kIjoiNi4w
		LjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJXV0RDMjAyNF8yIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJXV0RDMjAyNF8yIiwic2V0dGluZ3MiOlt7ImJ1
		bmRsZUlkZW50aWZpZXIiOlsiY29tLmlhZ28uV1dEQzIwMjQtMiJdfSx7InRl
		YW1JZGVudGlmaWVyIjpbIkE3U1JGN1pQMzUiXX0seyJkaXNwbGF5VmVyc2lv
		biI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJ
		bmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRD
		b2xvciI6eyJyYXdWYWx1ZSI6ImN5YW4ifX19LCJhcHBJY29uIjp7InBsYWNl
		aG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJzcGFya2xlIn19fSwiY2Fw
		YWJpbGl0aWVzIjpbXSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFk
		IiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpb
		eyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRz
		Y2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRp
		b24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0
		cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1d
		LCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3si
		cHJvZHVjdCI6WyJBdWRpb0tpdCIsImF1ZGlva2l0IixudWxsLG51bGxdfV0s
		ImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2Vz
		cyI6dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNv
		dXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNp
		ZXMiOlt7InByb2R1Y3QiOlsiQXVkaW9LaXQiLCJhdWRpb2tpdCIsbnVsbCxu
		dWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2th
		Z2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRo
		IjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGlu
		Z3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7
		Il92ZXJzaW9uIjoiNS44LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		xQdPSi7FlpxWtpJ5B8kqLEYCeIY1kufqTcnCr/TK3y4=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
